<body> {
	margin: 0px;
}

#navbar {

	text-align: right;
}

#navbar a{
	color: #e81c4f;
}

h1 {
	font-size: 80px;
	margin: 0px;
}

#header {
	text-align: center;
	color: #333;
	padding-bottom: 15px;
}

#prof-pic {
	width: 300px;
	height: 300px;
	border-radius: 50%;
	line-height: 1.2;
	text-align: center;
}

#about{
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	line-height: 1.5;
	paddnig: 4em 1em;
}

body {
	color: #566b78;
	background: #eee;
	padding: 2px 4px;
	vertical-align: text-bottom;
	border-bottom: 1px solid #d8dee9;
}

h2 {
	color: #333;
}

.center {
	text-align: center;
}

.setWidth {
	margin: 0 auto;
	max-width: 40em;
}

.logo-img {
	width: 30px;
	height: 30px;
}

#footer {
	text-align: center;
	margin: 5px;
}